{% extends "base.html" %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <section class="posts">
        {% for post in posts %}
            <article class="post">
                <header> 
                    <h4>
                        {{ post.date }}

                        {% if post.tags %}
                        <span> on {{ post.tags | join(',') }}</span>
                        {% endif %}
                    </h4>

                    <h3><a href="{{ blog_url }}/post/{{ post.slug }}">{{ post.title }}</a></h3>
                </header> 

                {% if post.summary %}
                    {{ post.summary }} ...
                {% else %}
                    {{ post.content }}
                {% endif %}

            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
